body {
  background: #fff url('background.png');
  margin: 0;
  padding: 0;
}

#container {
  position: absolute;
  bottom: 25px;
  width: 100%;
}

#text {
  margin: 0 25px;
  padding: 0;
  font-family: 'LaconicRegular', sans-serif;
  font-size: 72px;
  text-shadow: #bbb 3px 2px 2px;
  letter-spacing: -1px;
}
